.stats
{
background-color: rgba(59, 59, 59, 0.43);
  width: 600px;
  height: 200px;
  padding: 20px;
  margin-top: 600px;
  color: white;
}



.stats1
{

horizontal-align: left;
vertical-align: top;
margin-top: 10px;
}
.stats2
{


horizontal-align: left;

vertical-align: top;
margin-top: 30px;
}
.stats3
{


horizontal-align: left;

vertical-align: top;
margin-top: 50px;
}
.stats4
{


horizontal-align: left;

vertical-align: top;
margin-top: 70px;
}
.stats5
{


horizontal-align: left;

vertical-align: top;
margin-top: 90px;
}
.stats6
{


horizontal-align: left;

vertical-align: top;
margin-top: 110px;
}
.stats7
{


horizontal-align: left;

vertical-align: top;
margin-top: 130px;
}
.stats8
{


horizontal-align: left;

vertical-align: top;
margin-top: 150px;
}
.stats9
{


horizontal-align: left;

vertical-align: top;
margin-top: 170px;
}
.stats10
{


horizontal-align: left;

vertical-align: top;
margin-top: 190px;
}

.title
{

height: 50px;
width: 300px;
margin-top: 10px;
margin-left: 50px;

horizontal-align: left;



}
.numbers
{
width: 400px;
height: 500px;
horizontal-align: left;
background-color: green;
vertical-align: top;
margin-top: 200px;
}