

.duel-timer
{
horizontal-align: left;
color: #A3B5D0CC;
font-size: 	20px;
text-shadow: 1px 1px 3px 6 #000000;
margin-top: 129px;
margin-left: 0px;
  text-align: center;
  font-family: RadianceM;
  margin-right: 4px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
width: 175px;
transition-property: opacity;
transition-duration: 0.12s;
transition-timing-function: ease-out;
 z-index: 10;

}

.stats1
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 0px;
  margin-left: 11px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  font-size: 	13px;
  width: 190px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
}
.stats2
{
  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 12px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats3
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 24px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats4
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 36px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats5
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 48px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}

.stats6
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 50px;
  margin-top:60px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats7
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 72px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats8
{

  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 84px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats9
{
  color: #A3B5D0CC;
  text-align: left;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 96px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   text-shadow: 0 0 3px 6 #000000;
     font-family: RadianceM;
     margin-left: 11px;
}
.stats10
{

  color: #A3B5D0CC;
  text-align: left;
 text-shadow: 1px 1px 1px 2 #00000099;
  horizontal-align: left;
  margin-right: 12px;
  margin-top: 108px;
/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
*/
  width: 190px;
  font-size: 	13px;
   margin-left: 11px;

}
.stats
{
  width: 190px;
  height:150px;		
  color: white;
  margin-top: 104px;
  text-shadow: 1px 1px 3px 6 #000000;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .45, #42566355 ), to( #0000 ) );

}

.title
{

height: 50px;
width: 300px;
margin-top: 10px;
margin-left: 50px;
text-shadow: 1px 1px 2px 6 #000000;
horizontal-align: left;

}
.numbers
{
width: 400px;
height: 500px;
horizontal-align: left;
background-color: green;
vertical-align: top;
margin-top: 200px;
text-shadow: 1px 1px 3px 6 #000000;
}

Label, TextEntry
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

